.infoArea{
    flex: 23%;
  }

  .accimg{
    padding: 0 15px;
    transition: margin 300ms;
  }
.infoArea .alert{
    background: #EF262C;
    padding: 2px 6px;
    display: block;
    position: absolute;
    right: -5px;
    top:5px;
    z-index: 9;
    border-radius: 80px;
    font-size: 10px;
    
    text-align: center;
  }
  
  .infoArea ul {
    display: flex;
    margin: 0;
    justify-content:flex-end
  }
  .infoArea ul li{
    position: relative;
    list-style-type: none;
    padding-left: 20px;
    min-width: 80px
  }


.infoArea ul{
    justify-content: flex-end;
    border: none;
  }
  .infoArea .accounArea{
  display: flex;
  align-items: center;
  margin:auto;
  }
  
  .infoArea .accounArea div{
    text-align: left;
    
  }
  .infoArea .accounArea span{
    color: #a9a4a4;
    padding-bottom: 2px;
  }

  .accounArea div{
    flex:none
  }
  
  .accounArea span{
    display: block;
  }
   .imgcontainer{
    width: 40px;
    height: 30px;
    display: block;
    background: url("../../public/img/account.png") no-repeat center;
      }


      .cartsign,
      .likeSign{
        position: absolute;
        width: 32px;
        height: 30px;
        display: block;
        right: 0;
        top:6px;
        background: url("../../public/img/lovesign.png") no-repeat center;
      }

      .cartsign{
        background: url("../../public/img/cartsign.png") no-repeat center;
      }

  @media screen and (max-width: 1000px) {
   
    .navbarRight .arrow{
      right: 10px;
    }
    .arrowDown{
      right: 20px;
    }
  
    .container{
      padding: 5px
    }
    .infoArea ul li{
     
      min-width: 50px
    }
  
      .infoArea {
        padding:  15px 0 0 0;
      }
   
      .headLastBlock{
        margin-top: 0;
      }

   
  
      .midHeaderArea{
        padding: 10px 0;
      }
      .infoArea ul{
        padding: 0;
      }
  }
  