html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  background: #F5F5F5;
}

.arrow {
  border: solid #FFF;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF;
}
.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.emulated-flex-gap > * {
  margin: 12px 0 0 12px;
}

.emulated-flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
  width: calc(100% + 12px);
}

/* Header/logo Title */
.header {
  padding: 0px;
  text-align: center;
  background: #031424;
  color: white;
}
.flexrow{
  display: flex;
  flex-direction:row
}
.navbarLeft{
  flex: 50%;
  /* text-align: left; */
}
.navbarRight{
  flex: 50%;
  /* text-align: right; */
}
.topNavContainer{
  border-bottom: 1px solid #3d1f21;
}
.topNavContainer ul{
  margin: 0;
  padding: 0px 0;
  display: flex;
  list-style-type: none;
}
.navbarRight li {
  position: relative;
}



.navbarRight .arrow{
  position: absolute;
  right: -4px;
  top:4px
}


.topNavContainer ul li{
  margin: 0;
  padding: 10px 0;
  
}
.topNavContainer ul li  a{
  color: #FFF;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0px 8px;
  font-family:Inter;
  font-size:12px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.navbarLeft ul li a::after{
  content: "";
  position: absolute;
  border-right: 1px solid #FFF;
  width: 1px;
  height: 13px;
  right: 0px;
  top:0px;
}
.navbarLeft   ul li a{
  padding: 0 18px
}
.navbarLeft ul li:last-child a::after{
display: none;
}

.navbarLeft ul{
  justify-content: flex-start;
}
.navbarRight ul{
  justify-content: flex-end;
}
.navbarRight ul li {
  display: block;
  padding: 10px 15px;
 
  }
/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* TOp Categories */
.btnTopCat{
  background: #EF262C;
}

.btnTopCat .triangle-down{
  position: absolute;
  right: 45px;
  top:26px
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
  a:hover {
  /* background-color: #ddd; */
  /* color: black; */
  opacity: .7;
}

/* Mid Header section */

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

#search-bar {
  padding: 5px 25px;
  display: flex;
  flex-wrap: nowrap;
}

.npm-logo {
  width: 85px;
  margin-right: 15px;
}

.form {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 260px;
  margin-right: 20px;
}
/*
.magnifying-glass {
    width: 20px;
    position: absolute;
    left: 150px;
}
*/
.logoArea{
  flex: 18%;
  align-self: center;
  /* justify-content: flex-start; */
  text-align: left;
}

.logoArea img{
 
max-width: 110px;;
}
.searchArea{
  flex: 59%
}

.infoArea{
  flex: 23%;
}

.midHeaderArea{
  padding:30px 0 ;
  align-items: center;
}

.infoArea ul{
  justify-content: flex-end;
}
.infoArea .accounArea{
display: flex;
align-items: center;
margin:auto;
}

.infoArea .accounArea div{
  text-align: left;
  
}
.infoArea .accounArea span{
  color: #a9a4a4;
}

.infoArea img {
  padding: 0 15px;
  transition: margin 300ms;
}

.infoArea .alert{
  background: #EF262C;
  padding: 2px 6px;
  display: block;
  position: absolute;
  right: 5px;
  top:0;
  z-index: 9;
  border-radius: 80px;
  font-size: 10px;
  
  text-align: center;
}

.infoArea ul {
  display: flex;
  margin: 0;
  justify-content:flex-end
}
.infoArea ul li{
  position: relative;
  list-style-type: none;
  padding-left: 20px;
}
.accounArea div{
  flex:none
}

.accounArea span{
  display: block;

}

.searchBar input{ 
    border-radius: 6px 0px 0px 6px;
    width: 100%;
    border: 0px;
    background: #FFF;
    padding: 20px 10px  20px  70px;
    outline: none;
    font-size: 16px;
    color: #2C2C2C;
    background: url("../public/img/inputsearch.png") no-repeat 35px 18px #FFF;
}

.searchBar  button {
    flex-shrink: 0;
    background: #EF262C;
    border: none;
    color: white;
    padding: 0px 25px;
    border-radius: 0px 6px 6px 0px;
    font-size: 18px;
}

/* header last block */

.headLastBlock{
  display: flex;  
  margin-top: 20px;
}
.headLastBlock .navbar a{
  position: relative;
}

.headLastBlock .accounArea p{
  color: #FF4E53;
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  position: relative;
}
.headLastBlock .accounArea div > span{
  font-size: 12px;
  color: #979797;
}

.headLastBlock .accounArea p span{
  position: absolute;
  color:#c1c0c0;
  right: -20px;
  top:-22px
}

.arrowDown {
  position: absolute;
  right:0px;
  font-size: 18px;
  top:5px;
  font-size: 24px;
}

.topCategories{
  flex: 24%;
}

.headLastBlock .accounArea div{
  padding-left: 15px;
}

.btnTopCat{
  display: flex;
  align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
  background: #EF262C;
  border-radius: 10px 10px 0px 0px;
  padding: auto 30px;
  position: relative;
  font-size: 16px;
  height: 100%;
   
}

.btnTopCat::before{
  content: "";
  background: url("../public/img/menu.png") no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 18px;
}

.headLastBlock .navbar{
  flex: 60%;
  background: none;
  justify-content: center;
  padding-bottom: 10px;
}

.headLastBlock .accounArea{
  flex: 15%; 
  justify-content: center;
  padding-bottom: 10px;
  display: flex;
align-items: center;
margin:auto;
cursor: pointer;
}

 /* Navigation Start */
.verticalMenu > li > a,
 .parent {
	display: block;
  font-size: 14px;
	position: relative;
	line-height: 30px;
}

.verticalMenu li img{
  margin: 0 15px;
}
 
.verticalMenu > li > a,
.parent a {
	margin: 5px;
	color: #303030;
	text-decoration: none;
  padding: 7px 5px;
}

.parent:hover>ul {
	display: block;
	position: absolute;
  z-index: 15;
  right: -200px;
  top:0
}

.child {
	display: none;
  width: 200px;
}

.verticalMenu li,
.child li {
	background-color: #FFF;
	line-height: 30px;
	border-bottom: #F4F4F4 1px solid;
	width: 100%;
}

.verticalMenu li:last-child{
  border: none;
}
.verticalMenu li a,
.child li a {
	color: #000000;
  display: block;
  margin: 0;
  font-size: 14px;
  color: #303030;
}
 
ul {
	list-style: none;
	margin: 0;
	padding: 0px;
	min-width: 10em;
  border-radius: 0px 6px 6px 0px;
}

ul ul ul {
	left: 100%;
	top: 0;
	/* margin-left: 1px; */
}

 
.verticalMenu li:hover,
.parent li:hover {
	background: #FFF2F2;
}

.expand {
	font-size: 26px;
	float: right;
	margin-right: 5px;
  color:  #6F6F6F;
  ;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 18%;
  background-color: #FFF;
  /* padding: 20px; */
}

/* Page mid section */

.bodycontainer{
  padding-top: 35px;
  justify-content: space-around;
  gap: 20px;
}

.bodycontainer .row{
  gap: 20px;
}

/* Main column */
.main {
  display: flex;
  flex: 68%;
  padding: 0px;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.main img{
  width: 100%;
}

.bannerBlock{
  flex: 58%;
}

.addBlock{
  flex: 25%;
 
}


.addBlock img{
  margin-bottom: 17px;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
.categories{
  margin-top: 70px;
}
.categories ul{
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-between;
  /* align-items: stretch; */
}
.categories ul li{
  flex: 0 0 23%;
    margin: 10px 0;
    /* border: 1px solid #ccc; */
    align-self: stretch;
    /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); */
}

.categories ul li a{
  padding: 15px 15px;
  background: #fff;
  color: #303030;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
}

.categories ul li a img{
  margin: 0 15px;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .categories ul,
  .categories ul li,
  .main,
  .topCategories,
  .headLastBlock,
  .flexrow,
  .row, .navbar {   
    flex-direction: column;
  }

  .categories ul li{
    flex: none;
  }

  .addBlock{
     display: flex;  gap: 10px;
     flex: 100%;
    flex-direction: column;
  }
  .addBlock img{
    flex: 48%;
    max-width: 100%;
   
  }

  .categories{
    margin-top: 15px;
  }
  .btnTopCat{
   min-height: 50px;
   border-radius: 0;
  }
  .topNavContainer ul,
  .navbarRight,
  .navbarLeft{
    flex-direction: column;
  }
  .logoArea{
    padding: auto; 
  }
  .infoArea{
    padding: 25px 0;
  }
  .form{
    margin: 0 auto;
  }
  .navbarRight .arrow{
    right: 10px;
  }
  .arrowDown{
    right: 20px;
  }

  .container{
    padding: 5px
  }
    .navbarLeft ul li a::after {
      display: none;
    }
    .infoArea {
      padding:  15px 0 0 0;
    }
    .topNavContainer{
      display: none;
    }

    .headLastBlock{
      margin-top: 0;
    }

    .midHeaderArea{
      padding: 10px 0;
    }

    .searchBar input{
      padding: 10px 10px 10px 70px;
      background: url("../public/img/inputsearch.png") no-repeat 15px  8px #FFF;
    }

    .mobileMenu{
      background: #EF262C;;
      cursor: pointer;
      min-height: 30px;
    }
    .mobileMenu::before {
      content: "";
      background: url("../public/img/menu.png") no-repeat;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 7px;
      left: 18px;
    }

    .categories ul li{
      margin: 2px 0;
    }

    .categories ul li a{ 
      padding: 5px 0;
    }

    /* menu */
    ul ul ul{
      left: 0;
    }
    .parent:hover>ul{
      position: relative;
      display: block;
      right: auto;
      width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
  body {
    /* color: white; */
    /* background: black; */
  }
}
