html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* margin: 0; padding: 0px; */
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  background: #F5F5F5;
}

.arrow {
  border: solid #FFF;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.triangleDown {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF;
}
.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.emulated-flex-gap > * {
  margin: 12px 0 0 12px;
}

.emulated-flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
  width: calc(100% + 12px);
}

/* Header/logo Title */
.header {
  padding: 0px;
  text-align: center;
  background: #031424;
  color: white;
}
.flexrow{
  display: flex;
  flex-direction:row
}
.navbarLeft{
  flex: 50%;
   
}
  

/* Change color on hover */
  a:hover {
 
  opacity: .7;
}

/* Mid Header section */

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

#search-bar {
  padding: 5px 25px;
  display: flex;
  flex-wrap: nowrap;
}

.npm-logo {
  width: 85px;
  margin-right: 15px;
}

.form {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 260px;
  margin-right: 20px;
}
 
.logoArea{
  flex: 18%;
  align-self: center;
  /* justify-content: flex-start; */
  text-align: left;
}

.logoArea img{
 
max-width: 110px;;
}
 

.midHeaderArea{
  padding:30px 0 ;
  align-items: center;
}
 

.arrowDown {
  position: absolute;
  right:0px;
  font-size: 18px;
  top:5px;
  font-size: 24px;
}
 
 

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
 

/* Page mid section */

.bodycontainer{
  padding-top: 35px;
  justify-content: space-around;
  gap: 20px;
}

.bodycontainer .row{
  gap: 20px;
}

/* Main column */
.main {
  display: flex;
  flex: 68%;
  padding: 0px;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.main img{
  width: 100%;
}

.bannerBlock{
  flex: 58%;
}

.addBlock{
  flex: 25%;
 
}


.addBlock img{
  margin-bottom: 17px;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
 
  .main,
  .topCategories,
  .headLastBlock,
  .flexrow,
  .row, .navbar {   
    flex-direction: column;
  }
 

  .categories{
    margin-top: 15px;
  }
  
  .logoArea{
    padding: auto; 
  }
  .infoArea{
    padding: 25px 0;
  }
  .form{
    margin: 0 auto;
  }
  .navbarRight .arrow{
    right: 10px;
  }
  .arrowDown{
    right: 20px;
  }

  .container{
    padding: 5px
  }
    
   

    .headLastBlock{
      margin-top: 0;
    }

    .midHeaderArea{
      padding: 10px 0;
    }
 

    .mobileMenu{
      background: #EF262C;;
      cursor: pointer;
      min-height: 30px;
    }
    .mobileMenu::before {
      content: "";
      background: url("../public/img/menu.png") no-repeat;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 7px;
      left: 18px;
    }
 
}
 